//
   Created by Nicole J. Nobles on 11/17/2016.

footer.navbar.navbar-fixed-bottom
    .row
        .col-xs-12
            h6.center &copy; #{new Date().getFullYear()}
                |  MEAN
                span.primary  RPS

