//
   Created by Nicole J. Nobles on 11/17/2016.

extends layout

block content
    section#about
        .container
            .row
                .col-xm-12
                    h2 About
                    p If you've ever needed help making a small decision like who gets the last piece of pizza or who
                        | gets to ride shotgun, you're probably more than familiar with the game of rock, paper, scissors.
                    p But you might not know how big rock, paper, scissors is in Japan. Turns out that rock, paper, scissors
                        | or as it's known in Japan, janken was big in Japan before anybody in the West had ever even heard of it.
                    p Like kanji, fireworks, and General Tsao's chicken, rock, paper, scissors was actually created in China.
                        | The game was created around the time of Christ, but stayed in China for hundreds of years. It wasn't until
                        | the 1700s that it made its way over to Japan.
                    p The rest, as they say, is history. Janken, in the ensuing years, became incredibly popular in Japan and today,
                        | pretty much everybody in Japan knows how to play. You could walk up to any child in Japan and he/she would be
                        | immediately ready to throw down in a game of janken.
                    p 2012 Hashi - https://www.tofugu.com/japan/japanese-rock-paper-scissors