//
   Created by Nicole J. Nobles on 11/17/2016.

extends layout

block content
    section#auth
        .container
            .row
                .col-xm-12
                    ul.nav.nav-tabs.nav-justified
                        li.active(role='presentation')
                            a(href='/auth') SignIn
                        li(role='presentation')
                            a(href='/auth') SignUp