//
   Created by Nicole J. Nobles on 11/17/2016.

extends layout

block content
    section#auth
        .container
            .row
                .col-md-6.col-md-offset-3
                    ul.nav.nav-tabs.nav-justified(data-tabs='tabs')
                        li.active
                            a(href='#signin', data-toggle='tab') SignIn
                        li
                            a(href='#signup', data-toggle='tab') SignUp

                    .tab-content
                        #signin.tab-pane.active
                            br
                            .col-md-6.col-md-offset-3
                                .input-group
                                    input.form-control(type='text', placeholder='Username')
                                br
                                .input-group
                                    input.form-control(type='password', placeholder='Password')

                                br
                                br
                                .input-group-btn
                                    button.btn.btn-warning(type='button') Sign In

                        #signup.tab-pane
                            br
                            .col-md-6.col-md-offset-3

                                .input-group
                                    input.form-control(type='text', placeholder='Name')
                                br
                                .input-group
                                    input.form-control(type='email', placeholder='Email')
                                br
                                .input-group
                                    input.form-control(type='text', placeholder='Username')
                                br
                                .input-group
                                    input.form-control(type='password', placeholder='Password')
                                br
                                .input-group
                                    input.form-control(type='text', aria-label='...')
                                    .input-group-btn
                                        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                            | Country&nbsp;
                                            span.caret
                                        ul.dropdown-menu.dropdown-menu-right
                                            li
                                                p countries...
                                br
                                br
                                .input-group-btn
                                    button.btn.btn-warning(type='button') Sign Up
