//
   Created by Nicole J. Nobles on 11/17/2016.

extends layout

block content
    section#highscores
        .container
            .row
                .col-xm-12
                    h2 High Scores
                    table.table.table-striped
                        thead.thead-inverse
                            tr
                                th #
                                th Country
                                th Name
                                th Username
                                th Score
                        tbody
                            tr
                                th(scope='row') 1
                                td img of flag
                                td Otto Otter
                                td @toofus
                                td ##
                            tr
                                th(scope='row') 2
                                td img
                                td Jacob Jaguar
                                td @coolcat
                                td ##
                            tr
                                th(scope='row') 3
                                td img
                                td Big Bird
                                td @twatter
                                td ##
