//
   Created by Nicole J. Nobles on 11/17/2016.

extends layout

block content
    section#play
        .container
            .row
                .col-xm-12.col-md-6.col-md-offset-3
                    .jumbotron
                        h2 Classic RPS
                        p (Description, history, and rules of rock paper scissors goes here)

                        // Adds a modal for classic RPS
                        p: a.btn.btn-warning.btn-lg(href='#', role='button') Classic RPS
                        img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/450px-Rock-paper-scissors.svg.png')

                    .jumbotron
                        h2 RPS Lizard Spock
                        p (Description, history, and rules of rock paper scissors lizard spock goes here)

                        // Adds a modal for RPS Lizard Spock
                        p: a.btn.btn-warning.btn-lg(href='#', role='button') RPS Lizard Spock
                        img(src='https://lh5.googleusercontent.com/--BKdiYZnOSQ/VPGhXs-FnPI/AAAAAAAAL9E/o5z6hrTZUqk/s500/20150228-rock_paper_scissors_lizard_spock.gif')

                    .jumbotron
                        h2 RPS Lizard Spock Spider-Man BatMan Wizard Glock
                        p (Description, history, and rules ... goes here)

                        // Adds a modal for RPS Lizard Spock Spider-Man BatMan Wizard Glock
                        p: a.btn.btn-warning.btn-lg(href='#', role='button') RPS Lizard Spock Spider-Man BatMan Wizard Glock
                        img(src='http://static4.gamespot.com/uploads/original/1509/15095097/2823816-1625657885-458.j.jpg')

                    .jumbotron
                        h2 RPS 25
                        p You're REALLY board if you memorize this...


                        p: a.btn.btn-warning.btn-lg(href='#', role='button') RPS 25
                        img(src='http://static5.gamespot.com/uploads/original/1509/15095097/2823818-6836940048-OZtXR.jpg')

                    .jumbotron
                        h2 RPS 101
                        p Nope...

                        p: a.btn.btn-warning.btn-lg(href='#', role='button') RPS 101
                        img(src='http://retrohelix.com/en/wp-content/uploads/2013/08/rps-101-640x605.jpg')